* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #081027;
}

.main {
    background-color: #16285f;
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: stretch;
    border-radius: 12px;
    overflow: hidden;
}

.human-side {
    background-color: #182d62;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.human-side h1 {
    color: #fff;
}

.human-side .choices-container ul {
    display: flex;
    flex-direction: column;
}
.human-side .choices-container ul li {
    color: #fff;
    list-style: none;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px 48px;
    margin-bottom: 8px;
    cursor: pointer;
}

.computer-side {
    background-color: #092252;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.computer-side h1 {
    color: #fff;
}
.computer-side-desc h3 {
    color: #fff;
}

.game-title-wrapper {
    position: absolute;
    top: 50%;
    bottom: 50%;
    text-align: center;
    color: #fff;
}